<section class="testimonials">
  <div class="section-inner">
    <h2>What people say</h2>
    <div class="testimonial-grid">
      <div class="testimonial-card">
        <blockquote>
          <p>Doug is an amazing technical resource but also brings a creative thinking process to the team. Some of his ideas were so good that I felt the need to implement them almost real-time.</p>
        </blockquote>
        <div class="testimonial-author">
          <img src="url:./images/ben.jpg?as=webp&width=64" width="48" height="48" alt="Ben Routson" />
          <div>
            <strong>Ben Routson</strong>
            <span>Applications Practice Manager, AWS</span>
          </div>
        </div>
      </div>
      <div class="testimonial-card">
        <blockquote>
          <p>From day one it was clear that Doug had a vast range and depth of technical and business knowledge to bring to the table. He has always brought new ideas and new approaches to client problems.</p>
        </blockquote>
        <div class="testimonial-author">
          <img src="url:./images/adam.jpg?as=webp&width=64" width="48" height="48" alt="Adam Buckeridge" />
          <div>
            <strong>Adam Buckeridge</strong>
            <span>Director of Business Development, Crowd Favorite</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
